/* popup */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    text-align: left;
}

.popup-inner {
    border-radius: 0.5rem !important;
    width: 100%;
    max-width: 25rem;
    overflow: auto;
    max-height: calc(100vh - 4rem);
}

.add-transaction-btn {
    border-radius: 1.5rem !important;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400 !important;
}

.popup-img {
    height: 20rem;
    width: 20rem;
}

.tabular-button{
    cursor: pointer;
}

.form-control::placeholder{
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400 !important;
}

.form-control{
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400 !important;
}