@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

.mouse400 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
}

.mouse600 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
}

.flexy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.curve-btn {
  border-radius: 1.5rem !important;
}

.bg-cyan {
  background-color: #daa520;
}

.bg-violet {
  background-color: #8a2be2;
}

.active {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
}

.button {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  border-radius: 1.5rem !important;
}